* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  margin-top: 100px;
  height: 50vh;
  width: 50vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  cursor: pointer;
}

p {
  margin-top: 40px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}
